manifest {
    homePage = 'https://github.com/iarcbioinfo/facets-nf'
    description = 'Somatic Copy Number calls using FACETS'
    mainScript = 'facets.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { 
    docker.enabled = true 
    process.container = 'iarcbioinfo/facets-nf'
  }
  singularity { 
    singularity.enabled = true 
    process.container = 'shub://iarcbioinfo/facets-nf'
  }
}

process {
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/facets_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/facets_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/facets_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/facets_dag.html"

}
