manifest {
    homePage = 'https://github.com/iarcbioinfo/facets-nf'
    description = ''
    mainScript = 'facets.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
}

process {
    container = 'iarcbioinfo/facets-nf'
    shell =  ['/bin/bash','-o','pipefail']
}

timeline {
  enabled = true
}

report {
  enabled = true
}

trace {
  enabled = true
}

dag {
  enabled = true
}
